<div class="container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="text-center">My Reactive form</h2>
      <!-- Biding of my form usign formGroup -->
      <!-- formControlName is used to bind control in a reactive form -->
      <form
        [formGroup]="myForm"
        class="reactive-form mx-auto"
        (ngSubmit)="onSubmit()"
      >
        <input
          class="form-control form-control-lg text-center"
          type="text"
          placeholder="Title"
          aria-label=".form-control-lg example"
          formControlName="title"
        /><small
          *ngIf="myForm.get('title')?.invalid && myForm.get('title')?.touched"
          >*Title is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="number"
          placeholder="Price"
          aria-label="default input example"
          formControlName="price"
        /><small
          *ngIf="myForm.get('price')?.invalid && myForm.get('price')?.touched"
          >*Price is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="text"
          placeholder="Description"
          aria-label=".form-control-sm example"
          formControlName="description"
        />
        <small
          *ngIf="
            myForm.get('description')?.invalid &&
            myForm.get('description')?.touched
          "
          >*Description is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="text"
          placeholder="Category"
          aria-label=".form-control-sm example"
          formControlName="category"
        />
        <small
          *ngIf="
            myForm.get('category')?.invalid && myForm.get('category')?.touched
          "
          >*Category is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="text"
          placeholder="Image URL"
          aria-label=".form-control-sm example"
          formControlName="image"
        />
        <small
          *ngIf="myForm.get('image')?.invalid && myForm.get('image')?.touched"
          >*Image is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="number"
          placeholder="Rate"
          aria-label=".form-control-sm example"
          formControlName="rate"
        />
        <small
          *ngIf="myForm.get('rate')?.invalid && myForm.get('rate')?.touched"
          >*Title is a required field</small
        >
        <input
          class="form-control form-control-lg text-center"
          type="number"
          placeholder="Count"
          aria-label=".form-control-sm example"
          formControlName="count"
        />
        <small
          *ngIf="myForm.get('count')?.invalid && myForm.get('count')?.touched"
          >*Title is a required field</small
        >
        <div class="text-center">
          <button
            type="submit"
            class="rounded btn"
            style="border: 2px solid #cbcbcb; font-size: smaller; padding: 10px"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
