<div class="container m-auto my-3 py-4">
  <h3>
    Angular Forms, consuming restful API while working with JSON server to fetch
    and post data.
  </h3>
  <h4 class="text-center m-5">Data fetching demo</h4>
  <div class="container">
    <div class="row d-flex gap-4 justify-content-center">
      <div
        class="col-md-4 card"
        *ngFor="let product of products"
        style="height: 350px; width: 250px"
      >
        <p style="color: #f37e19; margin-top: 5px">
          {{ product.category }}
        </p>
        <div
          class="bg-image hover-overlay image-container"
          mdbRipple
          rippleColor="light"
          style="height: 50%; padding: 5px"
        >
          <img [src]="product.image" width="100%" height="100%" />
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </div>
        <div class="card-body d-flex flex-column">
          <p class="card-title">{{ product.title }}</p>
          <p class="text-end">{{ product.price | currency }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
